body {
font-family: 'Noto Sans TC', sans-serif;
color:#968686;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
	color:#3e3440;
}

.subheading {
	text-transform:none;
	font-family: 'Noto Sans TC', sans-serif;
}

#about {
	line-height:2.5rem
}

.interest, .skill {
	font-size:30px
}

a {
    color: #b32424;
}

a:active,a:focus,a:hover {
    color: #4a1525
}

.text-primary {
    color: #bd384a!important
}

.bg-primary {
    background-color: #bd384a!important
}

.social-icons a:hover {
    background-color: #4a1525
}
